@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.navbar {
    overflow: hidden;
    background-color: #333333;
    opacity: .5;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.navbar-item-container {
    list-style-type: none;
    float: right;
}

.left {
    float: left;
}

.navbar-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.25s;
}

.navbar-item:hover {
    background-color: #00AA77;
}

body {
    background-color: #242424;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 100px
}

.active {
    background-color: #555555;
}

.link {
    color: white;
    transition: color 0.25s;
}

.link:hover {
    color: #00AA77;
}

.text {
    color: white;
}

::-moz-selection {
    background: #00AA77;
}

::selection {
    background: #00AA77;
}

.video-container {
    position: relative;
    bottom: -30px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
}

.video-label {
    position: absolute;
    left: 0;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #404040;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 0;
}

.count {
    font-size: 2em;
    font-weight: 500;
}

.center {
    margin: 0;
    place-items: center;
}