@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Mono, monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background-color: #242424;
  width: 100vw;
  height: 100vh;
}

.navbar {
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.nav-logo {
  height: 80%;
  image-rendering: pixelated;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  display: flex;
}

.nav-links a {
  backdrop-filter: blur(5px);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 12px;
  transition: all 0.15s ease-in-out;
}

.nav-links a.active {
  background-color: #555b;
}

.nav-links a:hover {
  background-color: #0a7b;
}

.content {
  width: 100%;
  padding: 10px 20px;
}

.o-list {
  list-style-position: inside;
  padding-left: 15px;
}

button {
  width: 110px;
  height: 35px;
  background-color: #232323;
  border: 2px solid #555555;
  user-select: none;
}

button:hover {
  background-color: #333333;
}

input[type="text"] {
  width: 110px;
  height: 35px;
  background-color: #232323;
  border: 2px solid #555555;
  outline: none;
  vertical-align: middle;
}

input[type="text"]:hover {
  background-color: #333333;
}

textarea {
  width: 250px;
  height: 150px;
  background-color: #232323;
  border: 2px solid #555555;
  outline: none;
  vertical-align: middle;
}

textarea:hover {
  background-color: #333333;
}